body {
            background-color: rgb(48, 42, 42);
            font-family: Arial;
            max-width: 1020px; 
            display: block;
            padding-left: 30px ;
            padding-right: 30px;
            margin-left: auto;
            margin-right: auto;
}

table {
         border-collapse: collapse;
         margin: 0 auto;
         width: 85%;
         background-color: rgb(197, 188, 188);
}

td {
        border: 1px solid rgb(197, 188, 188);
        padding: 20px;
}