* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;

}

#principal {

    width: 960px;
    height: auto;
    margin: 0px auto;
   

}

header {
    margin: 0 auto;
    width: 960px;
    height: 50px;
    padding-top: 50px;
    margin-bottom: 20px;

}

header h1 {
    color: #215161;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 46px;
}

section {
    margin: 0 auto;
    width: 560px;
    margin-right: auto;
    margin-left: auto;

}

#box {
    margin: 0 auto;
    width: 260px;
    height: 260px;
    border: 1px solid red;

}

#box div {
    width: 50px;
    height: 50px;
    border: 1px solid #d6d6d6;
    background-color: #558a65;
    float: left;
}

#box input {
    width: 50px;
    height: 50px;
    border: 1px solid #d6d6d6;
    background-color: #558a65;
    float: left;
}

#izq {
    width: 450px;
    height: 300px;
    background: orange;
    float:left;
    margin-right: 30px;


}

#der {
    width: 450px;
    height: 300px;
    background: black;
    float:left;
    }
#caja1{

width: 370px;
height: 220px;
    background: pink;
    margin-top:25px;
    margin-left:25px;


}
#caja2{

width: 370px;
height: 220px;
background: pink;
margin-top:25px;
margin-left:25px;


}

ul.b {list-style-type: square;}
ol.c {list-style-type: upper-roman;}

article{
padding-left: 30px;
padding-top:30px;
}
footer {
    margin: 0 auto;
    width: 960px;
    height: 250px;
    float: left;
}

.formulario{

font-weight: 900;
font-size:18px;
line-height: 24px;
text-align:left;
}

textarea {
overflow: auto;
resize: vertical;
}

.form-control {
display: block;
width: 98%;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
/* border: none; */
border-bottom: 2px solid #00CDCD;
border-radius: 0;
font-weight: 300;  
margin-bottom: 1.5em;

}

input[type=button], input[type=submit], input[type=reset] {
background-color: #00CDCD;
border: none;
font-family: 'Lato', sans-serif;
font-weight: 900px;
color: #303952;
padding: 16px 32px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}